*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid rgba(247, 234, 234, 0);
    width: 100%;
    background-color: #ffffff;
    font-family: sans-serif;
    color: #000000;
    overflow: hidden;
}
.navbar{
    width: 100%;
    margin: auto;
}
.logo{
    background: url(Images/Brunch\ Logo.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-50{
    width: 50%;
}
ul{
    list-style: none;
}
li{
    margin: 5px 70px;
}
a{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.nicemealtext{
    margin-left: 30px;
}
h1{
    font-size: 80px;
    font-weight: 700;
    padding: 30px 0px;
}
h1+p{
    font-size: 21px;
    width: 526px;
    height: 130px;
    font-size: 21px;
}
button{
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    width: 174px;
    height: 54px;
    background-color: #f2cd5d;
    border: 3px solid #000000;
}
.text-1{
    height: 500px;
    margin-left: 20px;
}
img{
    width: 100%;
}
.col-33{
    width: 33%;
    text-align: center;
    margin: 20px;
}
.card{
    height: 300px;

}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.cardimage{
    height: 180px;
    width: 200px;
    margin-top: 40px;
}
.cardsrow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3+p{
    font-size: 21px;
    width: 400px;
    /* height: 130px; */
}
.bestmealrow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bestmealtext{
    height: 500px;
    padding: 50px 100px;
}
.bestmealimage{
    height: 500px;
}
h2{
    font-size: 40px;
}
h2+p{
    font-size: 14px;
}
.para{
    margin-top: 60px;
    text-decoration: underline;
}
.body3text{
    text-align: center;
    margin: 20px;
    height: 100px;
}
h4{
    font-size: 35px;
    padding: 5px;
}
h4+p{
    font-size: 21px;
    width: 100%;
    margin-bottom: 5%;
}
.menucard{
    height: 200px;
    width: 100%;
    display: flex;
}
.menuimage{
    height: 200px;
}
.menuheading{
    font-size: 25px;
    margin-top: 20px;
}
.menuparagraph{
    width: 180px;
    height: 93px;
    font-size: 12px;
}
.menubutton{
    height: 30px;
    width: 120px;
    font-size: 14px;
    margin-top: -50%;
}
.body-4{
    height: 620px;
    width: 100%;
}
.storemaintext{
    text-align: center;
    height: 100px;
}
.storecard{
    height: 400px;
    width: 300px;
    position: relative;
}
.storeheading{
    background-color: #eb7f4e;
    border: 2px solid #000000;
    font-size: 22px;
    position: absolute;
    left: 0px;
    top: 220px;
    margin-left: 100px;
}
.storeparagraph{
    width: 100%;
    height: 80px;
    font-size: 18px;
    margin-top:  40px;
}
.storebutton{
    height: 30px;
    width: 120px;
    font-size: 14px;
    margin-bottom: 20px;
}
.body-5{
    display: flex;
    width: 100%;
}
.companyheading{
    font-size: 30px;
    margin-bottom: 30px;
}
.body5image{
    background-size: cover;
    opacity: 0.631;
    background-color: #565656;
    filter: drop-shadow(11.437px 17.612px 12px rgba(12,13,12,0.1));
}
.socialmedia{
    font-size: 22px;
    height: 45px;
    width: 220px;
    display: flex;
    gap: 50px;
    margin-top: 80px;
}
.facebook{
    background-color: rgba(97, 119, 216, 0.877);
    width: 37px;
    height: 38px;
    text-align: center;
    padding-top: 7px;
    border-radius: 10px;
}
.instagram{
    background-color: #c51def;
    width: 37px;
    height: 38px;
    text-align: center;
    padding-top: 7px;
    border-radius: 10px;
}
.twitter{
    text-align: center;
    padding-top: 7px;
    width: 37px;
    height: 38px;
    background-color: #00d2ff;
    border-radius: 10px;
}
.contactussection{
    width: 100%;
    gap: 40px;
}
.contactheading{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 30px;
}
.input{
    display: grid;
    width: 90%;
    gap: 30px;
}
.name{
    height: 30px;
    background-color: lightgray;
}
.gender{
    height: 30px;
    background-color: lightgray;
}
.message{
    height: 100px;
    background-color: lightgray;
}
.contactbutton{
    margin-top: 40px;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #eb7f4e;
    display: flex;
}
.footerlogo{
    background: url(Images/Brunch\ Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    margin-left: 50%;
}
.footerheading{
    font-weight: 600;
}
.yourcompany{
    width: 100%;
    margin-left: 5%;
}
h5{
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}
h5+p{
    margin-bottom: 20px;
}
.sitemap{
    width: 100%;
    font-size: 17px;
}
.loremipsum{
    width: 100%;
    font-size: 17px;
}
.sitamet{
    width: 100%;
    font-size: 17px;
    margin-right: 40px;
}
.lastparagraph{
    margin-bottom: -60px;
    margin-top: 10px;
}
.lastsocialmedia{
    gap: 10px;
}
.footerlast{
    width: 160px;
    margin-left: -25px;
}
.lastlogo{
    background: url(Images/Brunch\ Logo.png);
    background-size: cover;
    height: 100px;
    width: 100px;
}
.headerwraper{
    position: relative;
}
.Nicemealshapes1{
    height: 50px;
    width: 50px;
    top: 100px;   
    left: -10px;
    position: absolute;
}
.Nicemealshapes2{
    height: 200px;
    width: 120px;
    bottom: 30px;
    left: -40px;
    position: absolute;
}
.Nicemealshapes3{
    height: 80px;
    width: 80px;
    bottom: 0px;
    left: 500px;
    position: absolute;
}
.Nicemealshapes4{
    height: 140px;
    width: 140px;
    top: 0px;
    right: 60px;
    position: absolute;
}
.Nicemealshapes5{
    height: 80px;
    width: 80px;
    bottom: 0px;
    right: 25px;
    position: absolute;
}
.bestmeal{
    position: relative;
}
.bestmealshapes1{
    height: 180px;
    width: 120px;
    top: -10px;
    left: 520px;
    position: absolute;
}
.bestmealshapes2{
    height: 100px;
    width: 100px;
    top: 0px;
    right: 400px;
    position: absolute;
}
.bestmealshapes3{
    height: 50px;
    width: 50px;
    top: 60px;
    right: 360px;
    position: absolute;
}
.bestmealshapes4{
    height: 160px;
    width: 160px;
    bottom: -10px;
    right: 250px;
    position: absolute;
    z-index: 1;
}
.bestmealshapes5{
    height: 40px;
    width: 40px;
    bottom: 75px;
    right: 300px;
    position: absolute;
}
.bestmealshapes6{
    height: 50px;
    width: 50px;
    bottom: 100px;
    right: 500px;
    position: absolute;
}
.storewraper{
    position: relative;
}
.storeshapes1{
    height: 100px;
    width: 100px;
    top: 50px;
    left: 0px;
    position: absolute;
}
.storeshapes2{
    height: 120px;
    width: 120px;
    top: 50px;
    left: 0px;
    position: absolute;
}
.storeshapes3{
    height: 60px;
    width: 50px;
    bottom: 70px;
    left: 10px;
    position: absolute;
}
.storeshapes4{
    height: 150px;
    width: 150px;
    top: 0px;
    left: 650px;
    position: absolute;
}
.storeshapes5{
    height: 60px;
    width: 60px;
    top: 120px;
    right: 10px;
    position: absolute;
}
.storeshapes6{
    height: 280px;
    width: 140px;
    bottom: 50px;
    right: 50px;
    position: absolute;
}
.storeshapes7{
    height: 60px;
    width: 60px;
    bottom: -10px;
    left: 700px;
    position: absolute;
}
.contactuswraper{
    position: relative;
}
.contactusshapes1{
    height: 60px;
    width: 50px;
    top: 20px;
    right: 620px;
    position: absolute;
}
.contactusshapes2{
    height: 150px;
    width: 150px;
    top: -10px;
    right: 0px;
    z-index: 1;
    position: absolute;
}
.contactusshapes3{
    height: 50px;
    width: 50px;
    top: 55px;
    right: 50px;
    position: absolute;
}
.contactusshapes4{
    height: 50px;
    width: 50px;
    bottom: 90px;
    right: 40px;
    position: absolute;
}
.contactusshapes5{
    height: 130px;
    width: 130px;
    bottom: 10px;
    right: 150px;
    position: absolute;
}
.contactusshapes6{
    height: 180px;
    width: 180px;
    bottom: -20px;
    right: 560px;
    position: absolute;
}